
.wrapDialogItem {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    padding: 20px 0px 5px 5px;


}
.active {
    color: gold;
}
.ava {
    padding: 5px;
    width: 50px;
    
}
.ava img{
    width: 100%;
    border-radius: 50px;
}
