.wrap_dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}
.dialogs{
    padding: 10px;
}
.dialogsItem {
    padding: 0;
}
.dialog {
    padding: 0;
}
.active {
    color: gold;
}
.masseges {
    padding: 10px;
}
.massage {
    padding: 0;
}